@import "tailwindcss";
*{
    font-family: "Roboto", "Poppins", Arial, Helvetica, sans-serif;
}

.container{
    max-width: 100%;
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: cover;
    background-color: #292929;
    background-blend-mode: overlay;
    padding-top: 30px;
}

.skeleton{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
}

.text{
  
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    z-index: 1;
    position: relative;
    overflow: hidden;
}

.title::before, .text::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fafafa;
    opacity: 0.2;
    z-index: 2;
    animation-name: move;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.load{
    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes move{
    0%{
        opacity: 0.1;
    }
    50%{
        opacity: 0.2;
    }
    100%{
        opacity: 0.1;
    }
}

@keyframes spin{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}